/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/*Fuentes Finish */
/* Variables Globales*/
:root{
    --goatred-color:#FC284A;
    --goatblue-color:#0D1E2A;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

section{
    padding: 100px 0;
}

.max-width{
    max-width: 1100px;
    padding: 0 80px;
    margin: auto;
}
/* Variables Globales*/
/* Header Inicia */

a{
    text-decoration: none;
    color: #ffff;
}

li{
    list-style: none;
}

nav{
    background-color: var(--goatred-color);
}

.container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.container img{
    width: 300px;
}

.top-tit-list{
    display: flex;
    padding: 0.8rem 0;
}

.nav-link{
    padding: 0.5rem 1rem;
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    transition: all 0.4s;
}

.nav-link:hover{
    background: #000;
    border-radius: 10px;
}

.side-nav,
.toggler{
    display: none;
}
/* Header media query */
@media (max-width: 700px){
    .container img{
        width: 230px;
    }
}

@media (max-width: 630px){

    .side-nav{
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 60vw;
        background: var(--goatred-color);
        transition: all 1s;
    }

    .close-btn{
        font-size: 2rem;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 35px;
        height: 35px;
        background: rgba(0,0,0,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        transition: transform 0.5s;
    }

    .close-btn:hover{
        transform: rotate(180deg);
    }

    .side-nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .side-nav-list li{
        width: 100%;
        text-align: center;
    }

    .side-nav-link{
        display: inline-block;
        width: 90%;
        padding: 1rem 0;
        font-size: 1.5rem;
        transition: all 0.4s;
    }

    .side-nav-link:hover{
        background: #000;
    }

    .top-tit-list{
        display: none;
    }

    .container img{
        padding: 0.5rem 0;
    }

    .toggler{
        display: block;
        font-size: 1.6rem;
        margin-right: 1rem;
    }

    .container{
        justify-content: flex-start;
    }
}
/* Header media query Termina*/
/* Header Termina */
/* Home inicia */

.home{
    display: flex;
    background: linear-gradient(#000,rgba(0,0,0,0.8), #000), url("img/Homeimg.jpg") no-repeat center;
    height: 100vh;
    background-size: contain ;
    background-attachment: fixed;
}

.home-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home .home-content .text{
    color: #ffff;
    font-size: 4.5rem;
    font-family: 'Oswald', sans-serif;
}

.home .home-content .text2{
    color: #ffff;
    font-size: 3.8rem;
    font-family: 'Oswald', sans-serif;
}

.home .home-content .text2 span{
    color: var(--goatred-color);
}
/*Home media query inicia*/
@media (max-width: 1050px){
    .home{
        height: 100vh;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 950px){
    .home .home-content .text{
        font-size: 3.5rem;
    }
    .home .home-content .text2{
        font-size: 3rem;
    }
}

@media (max-width: 560px){
    .home .home-content .text{
        font-size: 3rem;
    }
    .home .home-content .text2{
        font-size: 2.5rem;
    }
}

@media (max-width: 480px){
    .home .home-content .text{
        font-size: 2.5rem;
    }
    .home .home-content .text{
        font-size: 2rem;
    }
}

@media (max-width: 370px){
    .home .home-content .text{
        font-size: 2rem;
    }
    .home .home-content .text{
        font-size: 1.5rem;
    }
}
/*Home media query termina*/
/*Home Termina*/

/*Teams Inicia*/
 
.teams{
    background: linear-gradient(#fff,rgba(255,255,255,0.6), #fff), url(img/imagologoblack.png) no-repeat;
    background-position: center;
    background-size: 100%;
    padding-bottom: 200px;
}


.teams .title{
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}

.teams .title span{
    color: var(--goatred-color)
}

.teams .teams-content-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.teams .teams-content-main-tft,
.teams .teams-content-main-apex,
.teams .teams-content-main-fifa{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* display list */

.game-list{
    display: flex;
}

#lol-display,
#tft-display,
#apex-display,
#fifa-display{
    border: #fff;
    background-color: transparent;
    padding: 0.5rem 5rem;
    display: inline-block;
    margin-bottom: 4rem;
    margin-left: 7px;
    transition: all 0.85s ease;
}

#lol-display:hover,
#tft-display:hover,
#apex-display:hover,
#fifa-display:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--goatred-color);
}

/* Display Media Query */

@media(max-width: 1105px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        padding: 0.5rem 4rem;
    } 
}

@media(max-width: 915px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        padding: 0.5rem 3.5rem;
    } 
}

@media(max-width: 850px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        padding: 0.5rem 3.2rem;
    } 
}

@media(max-width: 812px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        padding: 0.5rem 3rem;
    } 
}

@media(max-width: 785px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        display: inline-block;
        width: 100%;
        margin-bottom: 1rem;
    } 
}

@media(max-width: 785px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        display: inline-block;
        padding: 0.5rem 19rem;
        margin-bottom: 1rem;
    } 
}

@media(max-width: 750px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        display: inline-block;
        width: 100%;
        margin-bottom: 1rem;
    } 
}

@media(max-width: 690px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        display: inline-block;
        padding: 0.5rem 15rem;
        margin-bottom: 1rem;
    } 
}

@media(max-width: 655px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        display: inline-block;
        padding: 0.5rem 13rem;
        margin-bottom: 1rem;
    } 
}

@media(max-width: 600px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        display: inline-block;
        padding: 0.5rem 10rem;
        margin-bottom: 1rem;
    } 
}

@media(max-width: 490px){

    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        display: inline-block;
        padding: 0.5rem 8rem;
        margin-bottom: 1rem;
    } 
}

@media(max-width: 420px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        display: inline-block;
        padding: 0.5rem 6rem;
        margin-bottom: 1rem;
    } 
}

@media(max-width: 365px){
    #lol-display,
    #tft-display,
    #apex-display,
    #fifa-display{
        display: inline-block;
        padding: 0.5rem 4rem;
        margin-bottom: 1rem;
    } 
}


/* Display Termina */

.teams .teams-content-main .left,
.teams .teams-content-main-tft .left,
.teams-content-main-apex .left,
.teams-content-main-fifa .left{
    width: 45%;
}

.teams .teams-content-main .left img,
.teams .teams-content-main-tft .left img,
.teams .teams-content-main-apex .left img,
.teams .teams-content-main-fifa .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.teams .teams-content-main .right,
.teams .teams-content-main-tft .right,
.teams .teams-content-main-apex .right,
.teams .teams-content-main-fifa .right{
    width: 50%;
}

.teams .teams-content-main .right .text,
.teams .teams-content-main-tft .right .text,
.teams .teams-content-main-apex .right .text,
.teams .teams-content-main-fifa .right .text{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.teams .teams-content-main .right .text span,
.teams .teams-content-main-tft .right .text span,
.teams .teams-content-main-apex .right .text span,
.teams .teams-content-main-fifa .right .text span{
    color: var(--goatred-color);
}

.teams .teams-content-main .right ul,
.teams .teams-content-main-tft .right ul,
.teams .teams-content-main-apex .right ul,
.teams .teams-content-main-fifa .right ul{
    margin-left: 28px;
}

/* Tema icons de la lista */

.teams .teams-content-main .right li{
    text-align:justify;
    list-style-image: url(img/lolicon.svg);
    justify-content: center;
    font-size: 1.2rem;
    padding: 5px;
}

.teams .teams-content-main-tft .right li{
    text-align:justify;
    list-style-image: url("https://img.icons8.com/nolan/20/sword.png");
    justify-content: center;
    font-size: 1.2rem;
    padding: 5px;
}

.teams .teams-content-main-apex .right li{
    text-align:justify;
    list-style-image: url("https://img.icons8.com/nolan/20/apex-legends.png");
    justify-content: center;
    font-size: 1.2rem;
    padding: 5px;
}

.teams .teams-content-main-fifa .right li{
    text-align:justify;
    list-style-image: url("https://img.icons8.com/ios-glyphs/20/000000/goalkeeper.png");
    justify-content: center;
    font-size: 1.2rem;
    padding: 5px;
}

/* Tema icons de la lista TERMINA */

.teams .teams-content-main .right li span,
.teams .teams-content-main-tft .right li span,
.teams .teams-content-main-apex .right li span,
.teams .teams-content-main-fifa .right li span{
    color: var(--goatred-color);
}

.teams .teams-content-main .right .toplaner{
    list-style-image: url(img/Top_icon.png)
}

.teams .teams-content-main .right .jungla{
    list-style-image: url(img/Jungle.png);
}

.teams .teams-content-main .right .midlaner{
    list-style-image: url(img/Middle_icon.png);
}

.teams .teams-content-main .right .Adc{
    list-style-image: url(img/Bottom_icon.png);
}

.teams .teams-content-main .right .Support{
    list-style-image: url(img/Support_icon.png);
}

.teams .teams-content-main-fifa .right .Portero{
    list-style-image: url("https://img.icons8.com/ios-glyphs/20/000000/goalkeeper.png"); 
}

.teams .teams-content-main-fifa .right .Defensa{
    list-style-image: url("https://img.icons8.com/ios-glyphs/20/000000/tower.png");
}

.teams .teams-content-main-fifa .right .Mediocampo{
    list-style-image: url("https://img.icons8.com/metro/20/000000/football.png");
}

.teams .teams-content-main-fifa .right .Delantero{
    list-style-image: url("https://img.icons8.com/pastel-glyph/20/000000/football-goal.png");
}

.teams .teams-content-main .right #lolpopupbuttom,
.teams .teams-content-main-tft .right #lolpopupbuttom-tft,
.teams .teams-content-main-apex .right #apexpopupbuttom,
.teams .teams-content-main-fifa .right #fifapopupbuttom{
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
    margin-top: 30px;
    border: 1px solid transparent;
    padding: 7px;
    color: #000;
    transition: all 0.4s;
}

.teams .teams-content-main .right #lolpopupbuttom:hover,
.teams .teams-content-main-tft .right #lolpopupbuttom-tft:hover,
.teams .teams-content-main-apex .right #apexpopupbuttom:hover,
.teams .teams-content-main-fifa .right #fifapopupbuttom:hover{
    background-color: var(--goatred-color);
    color: #fff;
    border: 1px solid var(--goatred-color);
    border-radius: 10px;
}

/*PopUp LoL Team Inicia*/

.popuplol .overlay,
.popuptft .overlay,
.popupapex .overlay,
.popupfifa .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popuplol .popup-content,
.popuptft .popup-content,
.popupapex .popup-content,
.popupfifa .popup-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--goatred-color);
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.popuplol .popup-close-btn,
.popuptft .popup-close-btn,
.popupapex .popup-close-btn,
.popupfifa .popup-close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: var(--goatred-color);
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}


.popuplol.active .overlay,
.popuptft.active .overlay,
.popupapex.active .overlay,
.popupfifa.active .overlay{
    display: block;
}

.popuplol.active .popup-content,
.popuptft.active .popup-content,
.popupapex.active .popup-content,
.popupfifa.active .popup-content{
    transition: all 300ms ease;
    transform: translate(-50%, -50%) scale(1);
}

.popuptft.active .popup-content img{
    width: 100%;
}

@media(max-width: 1250px){
    .popup-content img{
        width: 800px;
    }
}

@media(max-width: 930px){
    .popuplol .overlay,
    .popuptft .overlay,
    .popupapex .overlay,
    .popupfifa .overlay{
        height: 100%;
    }
    .popup-content img{
        width: 680px;
    }
}

@media(max-width: 740px){
    .popup-content img{
        width: 500px;
    }
}


@media(max-width: 560px){
    .popuplol .popup-content,
    .popuptft .popup-content,
    .popupapex .popup-content,
    .popupfifa .popup-content{
        padding: 0px;
    }

    .popup-content img{
        width: 390px;
    }

    .popuplol .popup-close-btn,
    .popuptft .popup-close-btn,
    .popupapex .popup-close-btn,
    .popupfifa .popup-close-btn{
        font-size: 1.5rem;
        background: var(--goatred-color);
    }
}

/*PopUp LoL Team Termina*/
/* Team media query inicia */

@media(max-width: 1104px){
    .teams .teams-content-main .left img,
    .teams .teams-content-main-tft .left img,
    .teams .teams-content-main-apex .left img,
    .teams .teams-content-main-fifa .left img{
        height: 350px;
        width: 350px;
    }
}

@media(max-width: 947px){
    .teams .teams-content-main .column,
    .teams .teams-content-main-tft .column,
    .teams .teams-content-main-apex .column,
    .teams .teams-content-main-fifa .column{
        width: 100%;
    }

    .teams .teams-content-main .right li,
    .teams .teams-content-main-tft .right li,
    .teams .teams-content-main-apex .right li,
    .teams .teams-content-main-fifa .right li{
        list-style-image: none !important;
        text-align: center;
    }

    .teams .teams-content-main .left,
    .teams .teams-content-main-tft .left,
    .teams .teams-content-main-apex .left,
    .teams .teams-content-main-fifa .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .teams .teams-content-main .right,
    .teams .teams-content-main-tft .right,
    .teams .teams-content-main-apex .right,
    .teams .teams-content-main-fifa .right{
        flex: 100%;
        text-align: center;
    }

}

@media (max-width: 480px){
    .teams .title{
        font-size: 2.5rem;
    }
    .teams .teams-content-main .right li,
    .teams .teams-content-main-tft .right li,
    .teams .teams-content-main-apex .right li,
    .teams .teams-content-main-fifa .right li{
        font-size: 1rem;
    }
}

@media (max-width: 420px){

    .teams .title{
        font-size: 2.2rem;
    }

    .teams .teams-content-main .right .text,
    .teams .teams-content-main-tft .right .text,
    .teams .teams-content-main-apex .right .text,
    .teams .teams-content-main-fifa .right .text{
        font-size: 1.5rem;
    }

    .teams .teams-content-main .right li,
    .teams .teams-content-main-tft .right li,
    .teams .teams-content-main-apex .right li,
    .teams .teams-content-main-fifa .right li{
        font-size: 0.9rem;
    }
}

@media (max-width: 380px){

    .teams .title{
        font-size: 1.5rem;
    }

    .teams .teams-content-main .right .text,
    .teams .teams-content-main-tft .right .text,
    .teams .teams-content-main-apex .right .text,
    .teams .teams-content-main-fifa .right .text{
        font-size: 1.4rem;
    }

    .teams .teams-content-main .right li,
    .teams .teams-content-main-tft .right li,
    .teams .teams-content-main-apex .right li,
    .teams .teams-content-main-fifa .right li{
        font-size: 0.8rem;
    }
}
/* Team media query Termina */
/*Teams termina*/

/* Product Grid comienza */

.merch-title{
    padding-top: 100px;
    background-color: #000;
    text-align: center;
}

.titlet{
    color: var(--goatred-color);
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}

.titlet span{
    color: #fff;
}

.merch-title p{
    font-size: 1.5rem;
    color: #fff;
} 

.box-container {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
}
 
.box{
    border-radius: 10px;
    flex: 1 1 300px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    margin: 20px;
}
    
.box .image{
    padding: 10px;
    background: #fff;
    text-align: center;    
}
    
.box .image img{
    height: 400px;
    width: 260px;
    object-fit: cover;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,.7))
}
    
    
.box .info{
    text-align: center;
    padding: 10px;
    color: #000;
    font-size: 1.2rem;
}

.box .info span{
    color: var(--goatred-color)
}
    
.box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.box .info .subInfo .price{
    display: flex;
    color: var(--goatred-color);
    font-size: 1.4rem;
}

.box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 423px;
    width: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    transform: scale(0);
}


.box:hover .overlay{
    transform: scale(1);

}

.box .overlay a{
    color: #666;;
    background: #fff;
    margin: 10px;
    padding: 13px 15px;
    font-size: 25px;
    transform: translateY(-150px);
    transition: all calc(.3s * var(--i)) ease;
}


.box .overlay a:hover{
    color: var(--goatred-color);
}

.box:hover .overlay a{
    transform: translateY(0px);
}

/*products media query */

@media(max-width: 530px){
    .box .image img{
        height: 280px;
        width: 220px;
    }

    .box .overlay{
        height: 303px;
        width: 100%;
    }
}


@media(max-width: 480px){
    .box .image img{
        height: 250px;
        width: 200px;
    }

    .box .overlay{
        height: 272px;
        width: 100%;
    }

    .box .overlay a{
        margin: 2px;
        padding: 8px 10px;
    }
}

@media(max-width: 420px){
    .box .image img{
        height: 200px;
        width: 140px;
    }

    .box .overlay{
        height: 220px;
        width: 100%;
    }
}

/*products media query */
/*products termina*/


/* support us section */


.support-us{
    background:linear-gradient(#fff,rgba(255,255,255,0.6), #fff), url(img/textlogoblack2.png);
}

.support-us-container{
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.support-us-container .image-cont{
    width: 50%;
}

.support-us-container .image-cont img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
}

.support-us .info-container{
    text-align: center;
}

.title-text-cont h2{
    position: relative;
    font-size: 3rem;
    font-weight: 100;
}

.title-text-cont span{
    color: var(--goatred-color);
}

.title-text-cont p{
    font-size: 1.2rem;
}

.rss .resscont{
    margin-top: 50px;
    justify-content: space-around;
    display: flex;
}

.rss .resscont li i{
    font-size: 1.8rem;
    color: var(--goatred-color);
}

.rss .resscont li{
    transition: all 0.1s ease;
}

.rss .resscont li a:hover i{
    transform: scale(1.1 , 1.1);
    color: var(--goatblue-color);
}

@media(max-width: 920px){
    .support-us-container{
        flex-wrap: wrap;
    }

    .support-us-container .image-cont{
        justify-content: center;
        justify-items: center;
        text-align: center;
        width: 100%;
    }
    .support-us-container .image-cont img{
        width: 350px;
        height: 350px;
    }

    .support-us .info-container{
        width: 100%;
        justify-content: center;
        text-align: center;
        justify-items: center;
    }
}


@media(max-width: 650px){
    .title-text-cont h2{
        font-size: 2.5rem;
    }

    .title-text-cont p{
        font-size: 1rem;
    }
}

/*footer*/

footer{
    overflow: none;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 40px;
    background: #000;
    height: auto;
    width: 100%;
    color: #fff;
}

.footer-content img{
    width: 300px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: var(--goatred-color);
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}