/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/*Fuentes Finish */
/* Variables Globales*/
:root{
    --goatred-color:#FC284A
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}

section{
    padding: 100px 0;
}

.max-width{
    max-width: 1100px;
    padding: 0 80px;
    margin: auto;
}
/* Variables Globales*/
/* Header Inicia */

a{
    text-decoration: none;
    color: #ffff;
}

li{
    list-style: none;
}

nav{
    background-color: var(--goatred-color);
}

.container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.container img{
    width: 300px;
}

.top-tit-list{
    display: flex;
    padding: 0.8rem 0;
}

.nav-link{
    padding: 0.5rem 1rem;
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    transition: all 0.4s;
}

.nav-link:hover{
    background: #000;
    border-radius: 10px;
}

.side-nav,
.toggler{
    display: none;
}
/* Header media query */
@media (max-width: 700px){
    .container img{
        width: 230px;
    }
}

@media (max-width: 630px){

    .side-nav{
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 60vw;
        background: var(--goatred-color);
        transition: all 1s;
    }

    .close-btn{
        font-size: 2rem;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 35px;
        height: 35px;
        background: rgba(0,0,0,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        transition: transform 0.5s;
    }

    .close-btn:hover{
        transform: rotate(180deg);
    }

    .side-nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .side-nav-list li{
        width: 100%;
        text-align: center;
    }

    .side-nav-link{
        display: inline-block;
        width: 90%;
        padding: 1rem 0;
        font-size: 1.5rem;
        transition: all 0.4s;
    }

    .side-nav-link:hover{
        background: #000;
    }

    .top-tit-list{
        display: none;
    }

    .container img{
        padding: 0.5rem 0;
    }

    .toggler{
        display: block;
        font-size: 1.6rem;
        margin-right: 1rem;
    }

    .container{
        justify-content: flex-start;
    }
}
/* Header media query Termina*/
/* Header Termina */
/* Home inicia */

.home{
    display: flex;
    background: linear-gradient(#000,rgba(0,0,0,0.8), #000), url("img/Homeimg.jpg") no-repeat center;
    height: 100vh;
    background-size: contain ;
    background-attachment: fixed;
}

.home-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home .home-content .text{
    color: #ffff;
    font-size: 4.5rem;
    font-family: 'Oswald', sans-serif;
}

.home .home-content .text2{
    color: #ffff;
    font-size: 3.8rem;
    font-family: 'Oswald', sans-serif;
}

.home .home-content .text2 span{
    color: var(--goatred-color);
}
/*Home media query inicia*/
@media (max-width: 1050px){
    .home{
        height: 100vh;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 950px){
    .home .home-content .text{
        font-size: 3.5rem;
    }
    .home .home-content .text2{
        font-size: 3rem;
    }
}

@media (max-width: 560px){
    .home .home-content .text{
        font-size: 3rem;
    }
    .home .home-content .text2{
        font-size: 2.5rem;
    }
}

@media (max-width: 480px){
    .home .home-content .text{
        font-size: 2.5rem;
    }
    .home .home-content .text{
        font-size: 2rem;
    }
}

@media (max-width: 370px){
    .home .home-content .text{
        font-size: 2rem;
    }
    .home .home-content .text{
        font-size: 1.5rem;
    }
}
/*Home media query termina*/
/*Home Termina*/

/*Teams Inicia*/

.teams .title{
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}

.teams .teams-content-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.teams .teams-content-main .left{
    width: 45%;
}

.teams .teams-content-main .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.teams .teams-content-main .right{
    width: 50%;
}

.teams .teams-content-main .right .text{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.teams .teams-content-main .right .text span{
    color: var(--goatred-color);
}

.teams .teams-content-main .right li{
    text-align:justify;
    list-style-image: url(img/lolicon.svg);
    justify-content: center;
    font-size: 1.2rem;
    padding: 5px;
}

.teams .teams-content-main .right li span{
    color: var(--goatred-color);
}

.teams .teams-content-main .right .toplaner{
    list-style-image: url(img/Top_icon.png)
}

.teams .teams-content-main .right .jungla{
    list-style-image: url(img/Jungle.png);
}

.teams .teams-content-main .right .midlaner{
    list-style-image: url(img/Middle_icon.png);
}

.teams .teams-content-main .right .Adc{
    list-style-image: url(img/Bottom_icon.png);
}

.teams .teams-content-main .right .Support{
    list-style-image: url(img/Support_icon.png);
}

/*PopUp LoL Team Inicia*/

.popuplol .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popuplol .popup-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--goatred-color);
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.popuplol .popup-close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: var(--goatred-color);
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.popuplol.active .overlay{
    display: block;
}

.popuplol.active .popup-content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

@media(max-width: 1250px){
    #lolpopupbuttom{
        display: none;
    }
}

/*PopUp LoL Team Termina*/
/* Team media query inicia */

@media(max-width: 1104px){
    .teams .teams-content-main .left img{
        height: 350px;
        width: 350px;
    }
}

@media(max-width: 947px){
    .teams .teams-content-main .column{
        width: 100%;
    }

    .teams .teams-content-main .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .teams .teams-content-main .right{
        flex: 100%;
        text-align: center;
    }

    .teams .teams-content-main .right li{
        text-align: center;
    }
}

@media (max-width: 480px){
    .teams .teams-content-main .right li{
        font-size: 1rem;
    }
}

@media (max-width: 420px){

    .teams .teams-content-main .right .text{
        font-size: 1.5rem;
    }

    .teams .teams-content-main .right li{
        font-size: 0.9rem;
    }
}

@media (max-width: 380px){

    .teams .teams-content-main .right .text{
        font-size: 1.4rem;
    }

    .teams .teams-content-main .right li{
        font-size: 0.8rem;
    }
}
/* Team media query Termina */
/*Teams termina*/